<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
<h1>
	 <%= gravatar_for @user %>
	<%= @user.name %></h1>
<h3> <%= @user.email %></h3>
<% @credit = 0 %>
 </section>
  </aside>
  </div>
  <div class="row">
  <div class="span6">
  	<%=render 'shared/task_completed' %>
  	</div>
  	<div class="span6">
  		<%=render 'shared/task_incomplete'%>
  	</div>
	
</div> <h2>Total Credits <%= @credit%></h2> 	
</div>